$background-color: rgb(26, 26, 26);

body {
    background: $background-color;
}

div {
    border: 1px solid white;
}

.board {
    height: 200px;
    width: 200px;

    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);

    [data-ship='Battleship'] {
        background: orange;
    }
    [data-ship='Submarine'] {
        background: yellow;
    }
    [data-ship='Destroyer'] {
        background: green;
    }
    [data-ship='Cruiser'] {
        background: red;
    }
    [data-ship='Carrier'] {
        background: blue;
    }

    /* hit */
    [data-hit='true'] {
        &[data-ship='Battleship'],
        &[data-ship='Submarine'],
        &[data-ship='Destroyer'],
        &[data-ship='Cruiser'],
        &[data-ship='Carrier'] {
            background: red;
        }

        & {
            background: rgb(119, 0, 0)
        }
    }
}
