$background-color: rgb(26, 26, 26);

body {
    background: $background-color;
}

div {
    border: 1px solid white;
}

.board {
    height: 200px;
    width: 200px;

    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);

    div[data-ship='Battleship'] {
        background: orange;
    }
    div[data-ship='Submarine'] {
        background: yellow;
    }
    div[data-ship='Destroyer'] {
        background: green;
    }
    div[data-ship='Cruiser'] {
        background: red;
    }
    div[data-ship='Carrier'] {
        background: blue;
    }
}
